/* Styly pro záhlaví */
.maintext{
  background-color: #f8f9fa;
  height: 2rem;
  margin-left: 5rem;
}

header {
  background-color: #f8f9fa;
  padding: 1rem;
  display: flex;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 1rem;
}

nav a {
  padding: 0.5rem;
  border-radius: 3px;
  display: inline-block;
}

.maindiv{
  background-color: #f8f9fa;
}



/* Základní styly */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-image: url('imgs/bg_photo/bg_photo.jpg');
  background-size: cover;
}

h1, h2, h3 {
  font-weight: bold;
}

a {
  color: #007bff;
  font-weight: bolder;
  text-decoration: none; /*Aby zůstal text nepodtržený*/
}

a:hover { /*Odkaz se podtrhne když na něj umístím myš*/
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

.border{
  border: #007bff 1px solid;
  background-color: #e3e6e8;
  margin: 1rem;
}


/* Styly pro sekci s úvodním textem*/
#text div{
  /* background-color: #fff; */
  padding: 2rem;
  margin-left: 3rem;
}

/* Styly pro sekci s referencemi */
#reference {
  background-color: #f8f9fa;
  border: #007bff 1px solid;
  padding: 2rem;
  margin: 1rem;
}

#reference h2{
  margin-left: 2.3rem;
}

#reference h3 {
  margin-top: 1rem;
}

#reference ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

#reference li {
  width: 40%;
  margin: 20px;/*2rem;*/
  border: #007bff 1px solid;
  background-color: #e3e6e8;
  padding: 1rem;
}

/* Styly pro sekci o nás */
#o-nas {
  background-color:#fff;
  border: #007bff 1px solid;
  padding: 2rem;
  margin: 1rem;
}

#o-nas ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  list-style: none;
}

#o-nas li {
  display: flex;
  align-items: center;
  margin: 1rem;
}

#o-nas img {
  margin-right: 1rem;
  border-radius: 50%;
  overflow: hidden;
}

#o-nas span {
  font-weight: bold;
}

#o-nas div{
  padding: 2.3rem;
}





